{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "strict": 0,
    "no-console": 0,
    "quotes": [2, "single", "avoid-escape"],
    "no-use-before-define": [2, "nofunc"],
    "babel/object-shorthand": 1,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1
  },
  "plugins": [
    "eslint-plugin-babel"
  ]
}
