{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "no-var": 2,
    "strict": 0,
    "no-console": 0,
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "no-use-before-define": [2, "nofunc"],
    "eqeqeq": 2,
    "babel/object-shorthand": 1,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "decaffeinate/require-import-extension": 2,
    "decaffeinate/no-const-except-at-top": 2
  },
  "plugins": [
    "babel",
    "decaffeinate"
  ],
  "globals": {
    "Class": true
  }
}
